
<div class="row">
  <div class="col-md-3 col-sm-6 my-4" *ngFor="let movies of datos">
      <div *ngIf="datos!=null; else espera" class="card" style="width: 15rem;">
        <img src={{movies.poster_path}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movies.title}}</h5>
        </div>

        <div class="card-body">
          <a href="../detalle-peliculas/" class="btn btn-primary">Show more</a>
        </div>
      </div>
    </div>
  </div>

  <ng-template #espera>Cargando peliculas...</ng-template>


